<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-image: url(/background_img/GettyImages-1208505324.webp);">
    <h1 align = center >Covid19 Analysis (2020-2023)</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table padding = 50 border="2" align="Center">
        <tr >
            <th align="center">
                Country
            </th>
        <tr>
            <td>
                South Africa
            </td>
        </tr>    

        </tr>

    </table>
    
</body>
</html>